{sub_dirs, ["rel"]}.

{require_otp_vsn, "R14B0[23]"}.

{cover_enabled, true}.

{lib_dirs, ["deps", "deps/riak_search/apps/"]}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
       {cluster_info, "1.1.*", {git, "git://github.com/basho/cluster_info", "3877b8e450989321ee8f9b4bacf080b4dfc6d80a"}},
       {luwak, "1.*", {git, "git://github.com/basho/luwak", "f2257e71be4e11b537d33ccb3a3ad3299ef257f9"}},
       {riak_kv, "0.14.*", {git, "git://github.com/basho/riak_kv", "2946b67e4f8510d5c01f4d897b270e341c7b2d0d"}},
       {riak_search, "0.14.*", {git, "git://github.com/basho/riak_search", "d5f131f298591507f6eb7e9c2752ba235636a1a4"}},
       {riak_err, "1.0.*", {git, "git://github.com/basho/riak_err", "b4350311115e3cfbb41db4ceca963bc4318d494b"}}
       ]}.
